{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact list</h1>

    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Pro</th>
                <th>Adresse</th>
                <th>Societe</th>
                <th>Site</th>
                <th>Mail</th>
                <th>Actions</th>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in pagination %}
            <tr>
                <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.telephone }}</td>
                <td>{% if contact.pro %}Yes{% else %}No{% endif %}</td>
                <td>{{ contact.adresse }}</td>
                <td>{{ contact.societe }}</td>
                <td>{{ contact.site }}</td>
                <td>{{ contact.mail }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contact_show', { 'id': contact.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contact_edit', { 'id': contact.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('contact_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
